<!DOCTYPE html>
<html>
  <head>
    <title>Details</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1>Book Details</h1>
      <nav>
        <ul class="nav">
          <li><h1><a href="/">Home</a></h1></li>
          <li><h1><a href="/books">Add Books</a></h1></li>
          <li><h1><a href="/author">Add Author</a></h1></li>
        </ul>
      </nav>
    </header>

    <div class="card book-details">
      <h3> <span class="title"> Title :</span> <%= book.title  %> </h3>
      <h3> <span class="title"> Author:</span> <%= book.author  %> </h3>
      <h3> <span class="title"> Description:</span> <%= book.description  %> </h3>
      <h3> <span class="title"> Pages:</span> <%= book.pages  %> </h3>
      <h3> <span class="title"> Tags:</span> <%= book.tags  %> </h3>
      <h3> <span class="title"> Created:</span> 
        <%= book.created ?
          typeof(book.created) === "object" ? book.created.toDateString() : book.created
          : "no date available" %>
      </h3>
      
      <div>
        <button class="btn" type="submit">
          <a href="/books/<%= book._id %>/delete"> Delete</a>
        </button>
        <button class="btn" type="submit">
          <a href="/books/<%= book._id %>/update">Edit</a>
        </button>
        <button class="btn" type="submit">
          <a href="/books/<%= book._id %>/details">Details</a>
        </button>
        <button class="btn" type="submit">
          <a href="/">Home</a>
        </button>
      </div>
    </div>
  </body>
</html>